[Desktop Entry]
Type=Application
Name=Virtual Keyboard
Name[fr]=Clavier virtuel
Name[ru]=Виртуальная клавиатура
Exec=sts keyboard
Icon=preferences-desktop-keyboard
StartupNotify=true
